.App {
    text-align: center;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Nunito', sans-serif;
  
  
    /* background-color:#FAF0E6; */
  }
  .headerSection {
    text-align: center;
  }
  .menu-icon {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1300;
  }
  
  
  
  
  
  